<footer class='footer page-footer fixed-bottom' style="background-color:#f1f3f4 ;">
    <mat-grid-list cols=3 rowHeight="60px">
         
        <mat-grid-tile  rowspan=1>
            <mat-card-title>
                <button class="list-inline-item" mat-button mat-icon-button btn>
                   <a href="https://www.linkedin.com/in/omkar-bhudhar/"><img src="../../assets/linkedin.png" class="linkedin-img" alt=""></a> 
                    </button>
            </mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile  rowspan=1>
            <mat-card-title>
                <button mat-button mat-icon-button btn>
                    <a href="https://github.com/tech-coder"><img src="../../assets/cat.png" class="github-img" alt="">
                    </a></button>
            </mat-card-title>
        </mat-grid-tile>
        <mat-grid-tile  rowspan=1>
            <mat-card-title>
                <button class="list-inline-item" mat-button mat-icon-button btn >
                    <a href="https://twitter.com/omkar_official" target="_blank"> <img src="../../assets/twitter.png" class="twitter-img" alt=""></a>
                    </button>
            </mat-card-title>
        </mat-grid-tile>
        </mat-grid-list>
</footer>


