/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height:30px;
    background-color:#dcd6f7 ;
    color: white;
    text-align: center;
  } */
  .linkedin-img{
    width:30px;
     height:30px;
     margin-top: 5px;
  }
  .github-img{
    width:30px;
     height:30px;
     margin-top: 5px;
  }
  .twitter-img{
    width:30px;
     height:30px;
     padding-top: 5px;
  }